@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap');

/* ESTILO FONDO PANTALLA Y FUENTE TIPOGRÁFICA */
body {
/* font-family: 'Josefin Sans', sans-serif; 
font-family: 'DM Sans', sans-serif; */
font-family: 'Abril Fatface', cursive;
font-family: 'Montserrat', sans-serif;
letter-spacing: 0.1em;

background: #108dc7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #108dc7, #ef8e38 );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #108dc7, #ef8e38); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background-repeat: repeat-y; 
/* background-size: contain; */
width: 80%;
height: fit-content;
}

/* CABECERA CON TITULO */
.cabecera {
    margin-top: 3%;
    width: 120%;
}

.cabecera h1 {
    font-weight: bolder;
    margin-left: 10%;
}

/* TAMAÑO LETRA PREGUNTAS */
p {
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 2.7%;
}


/* POSICIÓN DEL CONTENIDO */
.container {
    box-sizing: border-box;
    margin-left: 3% !important;
}

/* #preguntas {
    margin-left: 3%;
} */

/* TAMAÑO DE LOS INPUTS */
/* tamaño span pregunta 1 y 2 */
.input-group {
    width: fit-content;
    margin-bottom: 1%;
    height: fit-content;
}

/* tamaño select pregunta 3 */
.custom-select {
    width: auto;
    /* margin-bottom: 1%; */
}

.form-control {
    width: 50%;
    margin-bottom: 1%;
}


/* ESTILOS DE LOS BOTONES */
.btn {
    margin-bottom: 1%;
    margin-top: 2%;
}

#corrige {
    color: #fff;
    background-color: #ef8e38;
    border-color: #ef8e38;
}

#reintentar {
    color: #fff;
    background-color: #4AAEAA;
    border-color: #4AAEAA;
    font-style: bold;
}

/* ESTILOS VENTANA MODAL RESULTADOS */
#salida {
    position: absolute !important;
    top: 20% !important;
    right: 10% !important;
}

.card {
    border: 10px solid #9EC8B2; 
    /* border: 10px solid #448DA5; */
    
    /* border-right-color: #A0C8B2;
    border-top-color: #A0C8B2;
    border-left-color: #FFB18D;
    border-bottom-color: #FFB18D; */
}

